.movie__btn {
  background-color: #22254b;
  outline: none;
  border: none;
  padding: 0.3rem;
  border-radius: 0.3rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 2;
  bottom: 0;
  color: rgb(214, 190, 7);
  width: 50%;
  height: 8%;
  cursor: pointer;
  margin: 0.6rem 0.3rem;
  font-weight: bold;
}
.movie__btn:hover {
  background-color: #191b38;
}

.modal__container {
  background-color: rgba(0, 0, 0, 0.8);
}

.movie__card {
  box-shadow: rgba(0, 0, 0, 0.54) 0px 3px 8px;
  background-color: #373b69;
  position: relative;
  margin-bottom: 1rem;
}

.movie__title {
  font-size: 1.3rem;
  padding: 0.4rem;
  text-align: center;
  margin-bottom: 0.3rem;
  color: #fff;
}

.movie__text {
  color: rgb(214, 190, 7);
  padding: 0.3rem;
  background-color: #22254b;
  position: absolute;
  left: 1;
  right: 1rem;
  height: 7%;
  width: 13%;
  top: 1;
  bottom: 0.8rem;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

.modal__content img {
  width: 100%;
  background-color: #373b695a;
  overflow: hidden;
  border-radius: 5px;
}
.modal {
  background-color: #373b695a;
  overflow: hidden;
}

.modal__content h2 {
  text-align: center;
  font-weight: 700;
}
.modal__content h4 span,
.modal__content h5 span {
  font-weight: 700;
}

.modal__content span {
  font-weight: bold;
  font-size: 1.4rem;
}
.modal__content p {
  font-size: 1.1rem;
  font-weight: 500;
}

.modal__close {
 
  font-size: 2rem;
}
